:root{
    --deepBlue: #1E1B28;
    --blue1: #6397A3;
    --blue2: #125D99;
    --blue3: #67BFDB;
    --blue4: #EDEEEF;
    --blue5: rgb(7, 53, 90);
    --blue6: #49a0bb;

    /*--------TRANSPARENCIAS--------*/
    --blue2T1: rgba(18, 93, 153,0.4);
    --blue2T2: rgba(18, 93, 153,0.3);
    --blue2T3: rgba(18, 93, 153,0.2);
    --secundaryGray:rgb(183, 182, 185); 


    /*--------FONTS SIZE--------*/

    --principalHeader: 50px;
    --secundaryHeader: 30px;

    --headersubtittle:0.9em;
    --normalLetter: 0.7em; 
}

@font-face {
    font-family: 'Anglecia';
    src: url('/Anglecia Pro Display SemiBold.ttf') format('truetype'); 
  }
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');



.contMAbout{
    position: relative;
    width: 100%;
    min-height: 100vh;
    
}
.aboutCont{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background:rgba(18, 93, 153,0.5) ;
    backdrop-filter: blur(300deg);

}
.aboutFront{
   position: relative;
   width: 80%;
   height: 60vh;
   display: flex;
   align-items: center;
   justify-content: start;
   margin: 0 auto;
   border-bottom: 2px solid whitesmoke;

}
.moreAboutImg{
    position: relative;
    width: 100% ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.medicBg{
    width: 100%;
    height: 100vh;
    background-image: url("/medium-shot-scientists-posing-together.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    position: fixed;

}

.MAHeader{
    display: flex;
    align-items: center ;
    justify-content: center;
    font-size: var(--principalHeader);
    min-width: 100px;
    font-family: 'Anglecia';
    color: white;
    margin: 0 auto;
    height: 60vh;
}
.textMA{
    position: relative;
    width: 80%;
    font-family: 'Poppins';
    color: white;
    height: 200px;
    background: var(--blue2T3);
    display: flex ;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
.mission, .who{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center ;
    justify-content: center;
    
}

.mission .miss, .who .whoHeader{
    position: relative;
    margin: 0 auto;
    font-family: 'Anglecia';
    font-size: 30px;
    width: 100%;
    color: var(--blue5);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mission p, .who p{
    position: relative;
    width: 100%;
    color: var(--blue2);
    font-family: 'Poppins';
    font-size: 0.7em;
    margin: 0 auto;
    text-align: center;

}
.whoBx, .missBx {
    position: relative;
    min-height: 200px;
    background: rgba(255, 255, 255,0.5);
    backdrop-filter: blur(20px);
    width: 50%;
    padding: 20px;
    border-radius: 5px;
}
.contact_info{
    background: white;
    position: relative;
    width: 100%;
    min-height:200px ;
}

@media  (max-width: 656px){
    .who, .mission{
        width: 90%;
    }
    .whoBx, .missBx{
        width: 100%;
    }
}  