@font-face {
    font-family: 'Anglecia';
    src: url('Anglecia Pro Display SemiBold.ttf') format('truetype'); 
  }
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
    --deepBlue: #1E1B28;
    --blue1: #6397A3;
    --blue2: #125D99;
    --blue3: #67BFDB;
    --blue4: #EDEEEF;
    --blue5: rgb(7, 53, 90);
    --blue6: #49a0bb;

    /*--------TRANSPARENCIAS--------*/
    --blue2T1: rgba(18, 93, 153,0.4);
    --blue2T2: rgba(18, 93, 153,0.3);
    --blue2T3: rgba(18, 93, 153,0.2);
}

.aboutBx{
    position: relative;
    width: 100% ;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
}
.abInfo, .bsImgBx{
    position: relative ;
    width: 100%;
    height: 100% ;
    margin: 0 auto;
    display: flex ;
    align-items: center ;
    
}
.abInfo{
    justify-content: end;
}
.bsImgBx{
    justify-content: center;
}
.adInfoS,.adImgS{
    position: relative;
    width: 70% ;
    min-height: 10px;
}
.abHeader{
    position: relative;
    font-family: 'Anglecia';
    font-size: 30px;
    width: 80%;
    color: var(--blue5);
}
.adtext{
    position: relative;
    width: 80%;
    font-size: 0.7em;
    font-weight: lighter;
    color: var(--blue3);
    font-family: 'Poppins', sans-serif;
}
.btnBx{
    position: relative;
    width: 150px ;
    display: flex;
    align-items: center;
    justify-content: start;
    top: 20px;
}

.bsImgBx{
    position: relative;
    width: 80%;
}
.bsImgBx .img1{
    position: relative;
    width: 300px;
    height: 200px ;
}
.bsImgBx .img2{
    position: relative;
    width: 350px;
    height: 250px ;
    margin-top: 20px;
}
.bsImgBx .img1 img, .img2 img {
    position: relative ;
    width: 100% ;
    height: 100%;
    border-radius: 15px;
    
}
.bsImgBx{
    position: relative ;
    width: 100%;
    height: 100% ;
    margin: 0 auto;
    
}
@media(max-width: 942px){
    .aboutBx{
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    }
    .abInfo{
        width: 100%;
    }
    .adInfoS{
        margin: 0 auto;
        min-width: 100px;
    }
    .abHeader{
        font-size: 25px;
    }
    .adtext, .abHeader{
        text-align: center;
        width: 100%;
    }
    .btnBx{
        margin: 0 auto;
        top: 0px;

    }
    .adImgS .img1, .img2{
        margin: 0 auto;
        
    }
    .img1{
        height: 150px;
    }

    .adImgS{
        width: 100%;
    }
    .bsImgBx{
        margin-top: 10px;
    }
}

