@font-face {
    font-family: 'Anglecia';
    src: url('Anglecia Pro Display SemiBold.ttf') format('truetype'); 
  }
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
    --deepBlue: #1E1B28;
    --blue1: #6397A3;
    --blue2: #125D99;
    --blue3: #67BFDB;
    --blue4: #EDEEEF;
    --blue5: rgb(7, 53, 90);
    --blue6: #49a0bb;

    /*--------TRANSPARENCIAS--------*/
    --blue2T1: rgba(18, 93, 153,0.4);
    --blue2T2: rgba(18, 93, 153,0.3);
    --blue2T3: rgba(18, 93, 153,0.2);
}

.docCard{
    position: relative;
    width: 240px ;
    height: 240px;
    background: whitesmoke;
    border-radius: 20px;
    padding: 10px;
}
.docImg{
    position: relative;
    width: 100px ;
    height: 100px ;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;  
}
.docImg img{
    position: relative;
    width: 100% ;
    height: 100%;
}
.docInfo{
    position: relative;
    margin-top: 20px;
}
.especialidad{
    position: relative;
    text-align: center;
    font-family: 'Poppins';
    font-size: 0.7em;
    color: var(--blue3);
}
.docName{
    position: relative;
    text-align: center;
    font-family: 'Anglecia';
    color: var(--blue5);
    font-size: 1.2em;
}
.docSM{
    position: relative;
    display: flex ;
    align-items: center ;
    justify-content: space-around;
    height: 100%;
    top: 20px;
    width: 70%;
    margin: 0 auto;
}
.docSM a{
    position: relative ;
    color: var(--blue3);
    font-size: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center ;
    justify-content: center;
    border-radius: 50%;
    background: white;
}

@media  (max-width: 1180px){
    .docCard{
        width: 200px ;
        height: 200px;
        padding: 5px;
    }
    .docImg{
        width: 85px ;
        height: 85px ;
    }

    .docInfo{
        margin-top: 10px;
    }

    .docName{
        font-size: 1em;
    }
    .docSM a{
        font-size: 20px;
        width: 30px;
        height: 30px;
    }
}
@media(max-width: 484px){
    .docCard{
        width: 160px ;
        height: 160px;
    }
    .docImg{
        width: 70px ;
        height: 70px ;
    }

    .docName{
        font-size: 1em;
    }
    .docSM{
        top: 5px;
    }
    .docSM a{
        font-size: 15px;
        width: 25px;
        height: 25px;
    }
}

