@font-face {
    font-family: 'Anglecia';
    src: url('/Anglecia Pro Display SemiBold.ttf') format('truetype'); 
  }
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
    --deepBlue: #1E1B28;
    --blue1: #6397A3;
    --blue2: #125D99;
    --blue3: #67BFDB;
    --blue4: #EDEEEF;
    --blue5: rgb(7, 53, 90);
    --blue6: #49a0bb;

    /*--------TRANSPARENCIAS--------*/
    --blue2T1: rgba(18, 93, 153,0.4);
    --blue2T2: rgba(18, 93, 153,0.3);
    --blue2T3: rgba(18, 93, 153,0.2);
    --secundaryGray:rgb(183, 182, 185); 


    /*--------FONTS SIZE--------*/

    --principalHeader: 50px;
    --secundaryHeader: 30px;

    --headersubtittle:0.9em;
    --normalLetter: 0.7em; 

}


.servVBx{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background:rgba(18, 93, 153,0.5) ;
}
.background5{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("/SEGURO DE GASTOS MÉDICOS EN CHIAPAS_ A través de….jpg");
    background-size: cover;
}
.ServInfo{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.servHeader{
   position: relative;
   width: 80%;
   height: 60vh;
   display: flex;
   align-items: center;
   justify-content: start;
   margin: 0 auto;
   border-bottom: 2px solid whitesmoke;
   font-size: var(--principalHeader);
   min-width: 100px;
   font-family: 'Anglecia';
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}
.servText{
    position: relative;
    width: 80%;
    font-family: 'Poppins';
    color: white;
    height: 200px;
    background: var(--blue2T3);
    display: flex ;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1em;
    text-align: center;
}
.serviceBx{
    position: relative;
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-bottom: 2px solid var(--blue2);
}
.serviceBx p{
    position: relative;
    font-family: 'Poppins';
    font-size: var(--normalLetter);
    color: var(--blue2);
}
.imgBox{
    position: relative;
    width: 100%;

}
.imgCont .img1{
    position: relative;
    width: 450px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
}
.img1 img{
    position: relative;
    width: 100%;
    height: 100%;
}
.serviceList{
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 40vh;
    background: var(--blue2T3);
    padding: 2px;
}
.serviceList .header{   
   font-size: var(--secundaryHeader);
   font-family: 'Anglecia';
   color: var(--blue2);
   text-align: center;
   margin-bottom: 20px;
   margin-top: 50px;
}
.listofServices{
    font-size: var(--normalLetter);
    color: var(--deepBlue);
    font-family: 'Poppins';
    text-align: center;
    
}

@media(max-width:878px){
    .serviceBx{
        display: block;
    }
    .serviceBx p{
        position: relative;
        width: 60%;
        margin: 0 auto;
        padding: 60px;
    }
    .imgCont .img1{
        width: 250px;
        height: 200px;
    }
}

@media(max-width:655px){
   .serviceBx{
    width: 100%;
   }
   
    .serviceBx p{
    width: 100%;
   } 
    
    .listofServices{
        position: relative;
        bottom: 250px;
    }
}
