@font-face {
  font-family: 'Anglecia';
  src: url('Anglecia Pro Display SemiBold.ttf') format('truetype'); 
}
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
  --deepBlue: #1E1B28;
  --blue1: #6397A3;
  --blue2: #125D99;
  --blue3: #67BFDB;
  --blue4: #EDEEEF;
  --blue5: rgb(7, 53, 90);
  --blue6: #49a0bb;

  /*--------TRANSPARENCIAS--------*/
  --blue2T1: rgba(18, 93, 153,0.4);
  --blue2T2: rgba(18, 93, 153,0.3);
  --blue2T3: rgba(18, 93, 153,0.2);
}
* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: transparent;
  height: 80px;
  font-family: 'Poppins';
  font-size: 1em;
  z-index: 10000000;
  color: white;
}
.navbar ul{
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
} 

.brand-name {
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.hamburger span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: white;
  margin-bottom: 4px;
}

.navigation-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.navigation-menu li {
  margin-right: 10px;
}

.navigation-menu a {
  text-decoration: none;
  color: white;
}
.navbar ul li .a{
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: transparent solid 2px;
  text-transform: uppercase;
  
}
.navbar ul li a:hover{
  border-bottom: var(--blue3) solid 2px;
  color: white;
  
}

.navbar ul li .active{
  border-bottom: var(--blue3) solid 2px;
  color: white;
}

a:link, a:visited {
  text-decoration:none;
  color: white;
}
.logo{
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--blue3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.logo img {
  position: relative;
  width: 100px;
  height: 100px;
  
}
@media (max-width: 768px) {
  .navbar {
    background: transparent;
  }
  .navbar ul{
    position: absolute;
    width: 100%;
    top: 0px;
    display: block;
    right: 0px;
    height: 0px;
    z-index: -1;
  } 
  .navbar ul a{
    opacity: 0;
    animation: slideIn 0.5s ease-in-out normal forwards;
   
  }
  .navigation-menu{
    opacity: 0;
    visibility: hidden;
    height: 0px;
    
  }
  .hamburger {
    display: block;
  }

  .navigation-menu {
    display: none;
  }

  .navigation-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--blue2);
    height:calc(100vh - 80px) ;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s, height ease-in-out 0.8s;
  }
}


@keyframes slideIn {
  0% {
    opacity: 0;
    position: absolute;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}

